.container {
  height: 623px;
  display: flex;
  background-image: url("/images/BackgroundImage.png");
  justify-content:space-evenly;
}

.containerText{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom:50px;

}

.containerImage{
  justify-content: center;
  align-items: center;
  display: flex;
}

.containerText > h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
  width: 607px;
  height: 110px;
  margin: 0px;
  
  
}

.containerText > h2 {
  font-weight: 200;
  font-size: 51px;
  line-height: 58px;
  align-items: flex-start;

  display: flex;
  color: #FFFFFF;
  margin:0px;
}

